@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  // Most Params come come from System-Settings, Height from View Settings
  var height = MyView.Settings.Int("ImageHeight", fallback: 400); // Should be set on all banner-views
  var bannerSettings = Kit.Image.Settings("Content", height: height);
}

<div class="co-header" @Kit.Toolbar.Default(MyItem)>
  @MyItem.Picture("Image" , settings: bannerSettings, imgClass:"w-100", imgAltFallback: MyItem.Title)
</div>

@Html.Partial("../shared/Assets.cshtml")