@inherits AppCode.Razor.ImagesRazor
@using ToSic.Razor.Blade
@{
  // Most Params come come from System-Settings, Height from View Settings
  var bannerSettings = Kit.Image.Settings("Content", height: MyView.Settings.ImageHeight);
}

<div class="co-header" @Kit.Toolbar.Default(MyItem)>
  @MyItem.Picture("Image", settings: bannerSettings, imgClass:"w-100", imgAltFallback: MyItem.Title)
</div>

@Html.Partial("../shared/Assets.cshtml")