<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

<div class="co-header sc-element">
    @Content.Toolbar
    <img class="co-header-image" alt="@Content.Title" src="@Content.Image?w=1600&amp;h=240&amp;scale=both&amp;mode=crop" />
</div>
