@* call shared template which does everything *@
<div class="co-container-outer">
    <div class="co-container-inner">
        @RenderPage("_Image - Shared Wide Banner.cshtml", new { width = 1600, height = 600})
    </div>
</div>