@*
	todo: can we extract code, or even the entire file? 
*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
<script type="text/javascript" src="@App.Path/dist/jquery.syncHeightResponsive.min.js" data-enableoptimizations="true"></script>
<script type="text/javascript" src="@App.Path/dist/scripts.js" data-enableoptimizations="true"></script>

<div class="co-img-wrapper co-img-wrapper-@(Dnn.Module.ModuleID) co-2colimg row">
	@* call sub-template to show all images in the right size *@
	@RenderPage("_Image - Shared - loop images.cshtml", new { width = 350, gridColumns = 3 })
</div>

<script>
    /* Call syncHeightResponsive here - makes sure that sync height also works after ajax reload */
    $(".co-img-wrapper-@(Dnn.Module.ModuleID) .col").syncHeightResponsive();
</script>