@* put all necessary link/script tags here *@
@RenderPage("_Shared - Assets.cshtml", new { parts = "styles"})

@{
    // this is the parameter passed in from the calling page
    var width = PageData["width"];
    var height = PageData["height"];
}
<div class="co-header sc-element">
    @Edit.Toolbar(Content)
    <img class="co-header-image" alt="@Content.Title" src="@Content.Image?w=@width&amp;h=@height&amp;scale=both&amp;mode=crop" />
</div>