<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

<div class="co-separatingline sc-element">
	@Edit.Toolbar(Content)
	<hr class="ly-primaryhr" style="width: 50%; margin-right: auto; margin-left:auto"/>
</div>