<link rel="stylesheet" href="@App.Path/dist/styles.css" data-enableoptimizations="true" />

<div class="co-container-outer">
	<div class="co-container-inner co-separatingline sc-element">
		@Edit.Toolbar(Content)
		<hr class="ly-primaryhr ly-primaryhr-half" />
	</div>
</div>