@using Connect.Koi

@* put all necessary link/script tags here *@
@RenderPage("shared/_Assets.cshtml", new { parts = "styles,scripts,height"})

<div class="co-container-outer">
	<div class="co-container-inner co-person-wrapper">
        <div class="row">
            @foreach (var person in AsDynamic(Data["Default"]))
            {
                <div @Koi.Class("all='sc-element co-person co-person-noimage mb-4' bs3='co-sync-height-with-neighbors col col-sm-6' bs4,oth='col-md-6'")>
                    @Edit.Toolbar(person)

                    <div class="co-person-text" itemscope itemtype="http://schema.org/Person">
                        @RenderPage("shared/_Person Data.cshtml", new { data = person})
                    </div>
                </div>
            }
        </div>
    </div>
</div>