@* 
    this is a partial template which is re-used in many other templates, 
    so it's shared here  
*@
@{
    // this is the parameter passed in from the calling page
    var width = PageData["width"];

    // prepare the title, either the default or the additional image caption
    var title="";
    if(Presentation.TitleLightbox){
        if(!String.IsNullOrEmpty(Content.ImageCaption)){
            title=Content.ImageCaption;
        } else {
            title=Content.Title;
        }
    }

    // has image? add lightbox link?
    var hasImage = !String.IsNullOrEmpty(Content.Image);
    var withLink = Presentation.ImageLightbox != null && Presentation.ImageLightbox;
}

@if(hasImage) {
    if (withLink) {
        @:<a title="@title" class="fancybox" href="@Content.Image?maxwidth=1400&amp;maxheight=990">
    }
    <img class="co-content-image" src="@Content.Image?w=@width" alt="@title" />
    if (withLink) {
        @:</a>
    }
}