@* 
    this is a partial template which is re-used in many other templates, 
    so it's shared here  

    expects
    * "width" - an int
*@
@{
    // configuration
    var retina = true;
    var quality = 75;
    var lightboxQuality = 90;

    // this is the parameter passed in from the calling page
    var imgItem = PageData["img"];
    int width = PageData["width"];
    if(retina) {
        width += width; // double if retina
        quality = 50;
        lightboxQuality = 75;
    }

    // prepare the title, either the default or the additional image caption
    var title="";
    if(Presentation.TitleLightbox){
        title = !String.IsNullOrEmpty(imgItem.ImageCaption)
            ? imgItem.ImageCaption
            : imgItem.Title;
    }

    // has image? add lightbox link?
    var hasImage = !String.IsNullOrEmpty(imgItem.Image);
    var withLink = Presentation.ImageLightbox != null && Presentation.ImageLightbox;
}

@if(hasImage) {
    if (withLink) {
        @:<a title="@title" class="fancybox" href="@imgItem.Image?maxwidth=1400&amp;maxheight=990&amp;quality=@lightboxQuality">
    }
    <img class="co-content-image" src="@imgItem.Image?w=@width&amp;quality=@quality" alt="@title" />
    if (withLink) {
        @:</a>
    }
}