@inherits ToSic.Sxc.Dnn.RazorComponent
@* 
  Bootstrap 3 - read the readme.md section "CSS Framework Detection" 
*@
@if(Connect.Koi.Koi.Is("bs3")) {
  @RenderPage("../bs3/Person/_Contact no Image.cshtml")
  return;
}
@*
  Bootstrap 4 or Unknown CSS Framework
*@
@RenderPage("../bs4/shared/_Assets.cshtml", new { parts = "styles,scripts,height"})

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner">
    <div class="row">
      @foreach (var person in AsList(Data)) {
        <div class="col-md-4 mb-4" itemscope itemtype="http://schema.org/Person" @Edit.TagToolbar(person) >
            @RenderPage("_PersonData.cshtml", new { data = person })
        </div>
      }
    </div>
  </div>
</div>