@inherits Custom.Hybrid.Razor14


<div class="row">
  @foreach (var person in AsList(Data)) {
    <div class="col-md-4 mb-4" itemscope itemtype="http://schema.org/Person" @Edit.TagToolbar(person)>
      @Html.Partial("Part Properties.cshtml", new { data = person })
    </div>
  }
</div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts, icons"})