@inherits Custom.Hybrid.Razor12

<div class="co-container-outer mb-4 mb-md-5">
	<div class="co-container-inner" @Edit.TagToolbar(Content, prefill: new { VarShowImage = false, VarShowText = false })>
    @* call sub-template to show the title with the correct H1-H6 tag *@
    @Html.Partial("../shared/_Header tag.cshtml")
  </div>
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "styles,scripts" })