@inherits Custom.Hybrid.RazorTyped
@{
  // Decrypt the Api key
  var apiKey = Kit.SecureData.Parse(AllSettings.String("GoogleMaps.ApiKey")); 
  
  // If the key is not from preset, then we don't need to show the warning (return)
  if (!apiKey.IsSecuredBy("preset")) { return; }
}
<div class="alert alert-danger position-absolute bottom-0 start-0">
  @Html.Raw(AllResources.String("GoogleMaps.WarningApiKeyForDemoOnly"))
</div>
