@inherits Custom.Hybrid.Razor14
@{
  // Prepare items to show, count and index to find the last item (for styling)
  var allItems = AsList(Data);
  var itemsCount = allItems.Count();
  var itemIndex = 0;

  // Default Toolbar with prefill for only add and Edit Title
  var itemToolbar = Kit.Toolbar.Default(tweak: b => b.FormParameters(new { hideImage = true, hideText = true }));
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")


@* Show all the content-items - one or more *@
@foreach (var item in allItems) {

  var rowClass = ++itemIndex == itemsCount ? "mb-4 mb-lg-5" : ""; // if last item, add class to the row to add margin-bottom

  <div class='@rowClass' @itemToolbar.For(item)>
    @* call sub-template to show the title with the correct H1-H6 tag *@
    @Html.Partial("../shared/Header tag.cshtml", new { Item = item, HeadingType = item.Presentation.HeadingType })
  </div>
}

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })