@inherits ToSic.Sxc.Dnn.RazorComponent
@* This adds all link/script tags *@
@RenderPage("../bs4/shared/_Assets.cshtml", new { parts = "styles"})

@{
	var lineHalf = PageData["lineHalf"] ? "w-50 m-auto py-4" : "w-100 py-4";
}

<div class="co-container-outer">
	<div class="co-container-inner">
		<hr class="@lineHalf"/>
	</div>
</div>
