@inherits ToSic.Custom.Razor12

@{
	var lineHalf = PageData["lineHalf"] ? "w-50 m-auto py-4" : "w-100 py-4";
}

<div class="co-container-outer">
	<div class="co-container-inner">
		<hr class="@lineHalf"/>
	</div>
</div>

@RenderPage("../shared/_Assets.cshtml", new { parts = "styles"})