@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
  // Resolution multiplier - usually set at App level
  var resFactor = Settings.ImageUseHighResolution ? 2 : 1;

  // Size usually comes from View Settings
  var width = Settings.MaxWidth * resFactor;
  var height = Settings.MaxHeight * resFactor;
	var quality = Settings.ImageQuality;
}

<div class="co-container-outer">
	<div class="co-container-inner">
    <div class="co-header" @Edit.TagToolbar(Content)>
      <img class="w-100"
        src='@Tags.SafeUrl(Content.Image + "?w=" + width + "&h=" + height + "&anchor=" + Content.CropAnchor + "&mode=crop&scale=both&quality=" + quality)'
        alt="@Content.Title" />
    </div>
  </div>
</div>

@Html.Partial("../shared/_Assets.cshtml", new { parts = "styles" })